<%-include('layout/header') %> 

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <h3 class="text-light"> Add New Company</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/add" method="post" id="add-company" >
                        <div class="mb-3">
                            <label for="company">Name Of Company</label>
                            <input type="text" name="company" class="form-control form control-lg" placeholder="Amazon">
                        </div>
                        <div class="mb-3">
                            <label for="eligibility">Eligibility</label>
                            <input type="text" name="eligibility" class="form-control form control-lg" placeholder="job eligibility">
                        </div>
                        <div class="mb-3">
                            <label for="salary">CTC Of Company</label>
                            <input type="text" name="salary" class="form-control form control-lg" placeholder="e.g 10LPA">
                        </div>
                        <div class="mb-3">
                            <label for="informedOn">Informed On :</label>
                            <input type="text" name="informedOn" class="form-control form control-lg" placeholder="08 Aug 2022">
                        </div>
                        <div class="mb-3">
                            <label for="lastday">Last Date to apply</label>
                            <input type="text" name="lastday" class="form-control form control-lg" placeholder="27 Aug 2022">
                        </div>
                     <div class="mb-3 d-grid">
                        <input type="submit" name="submit" value="Add Company" class="btn-primary btn-lg">
                     </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%-include('layout/footer') %> 